<mat-card-header class="d-flex justify-content-center ">
  <mat-card-title>
    <h2 class="font-weight-bold">{{(editMode$ | async) === 'PROJECT_MODE'? '專案' : '關卡'}}資訊</h2>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <button type="button"
              routerLink="/authoring/management/editProject"
              class="btn btn-primary btn-sm"
              *ngIf="(editMode$ | async) === 'PROJECT_MODE';else elseBtn">編輯專案</button>
      <ng-template #elseBtn>
          <button type="button"
          (click)="onEditStage()"
          routerLink="/authoring/edit"
          class="btn btn-primary btn-sm">編輯關卡</button>
      </ng-template>
    </div>
    <div class="row">
      <div class="col p-0">
          <div class="cover my-3" >
              <div class="alt-text">暫無圖片</div>
            </div>
      </div>
    </div>
    <div class="row">
      <div class="col p-0">
        <h5>{{(editMode$ | async) === 'PROJECT_MODE' ? '專案' : '關卡'}}名稱：</h5>
        <p class="pl-4 py-1">{{(editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).name : (stageInfo$ | async).name}}</p>
      </div>
    </div>
    <div *ngIf="(editMode$ | async) === 'PROJECT_MODE'" class="row">
        <div class="col p-0">
            <h5>專案代碼：</h5>
            <p class="pl-4 py-1">{{(projectInfo$ | async).uid}}</p>
          </div>
    </div>
    <div *ngIf="(editMode$ | async) === 'PROJECT_MODE'" class="row">
      <div class="col p-0">
        <h5>專案作者：</h5>
        <p class="pl-4 py-1">{{(projectInfo$ | async).author}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col p-0">
        <h5>{{(editMode$ | async) === 'PROJECT_MODE' ? '專案' : '關卡'}}描述：</h5>
        <p class="pl-4 py-1">{{(editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).description : (stageInfo$ | async).description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col p-0">
        <h5>最後修改：</h5>
        <p class="pl-4 py-1"
           *ngIf="(editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).lastModify.getFullYear() !== 1970 : (stageInfo$ | async).lastModify.getFullYear() !== 1970;else emptyDate">
           {{((editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).lastModify : (stageInfo$ | async).lastModify) | date:'y年M月d日 HH:mm:ss'}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col p-0">
        <h5>建立日期：</h5>
        <p class="pl-4 py-1"
           *ngIf="(editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).createDate.getFullYear() !== 1970 : (stageInfo$ | async).createDate.getFullYear() !== 1970;else emptyDate">
           {{((editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).createDate : (stageInfo$ | async).createDate) | date:'y年M月d日 HH:mm:ss'}}</p>
      </div>
    </div>
  </div>
</mat-card-content>

<ng-template #emptyDate>
  <p class="pl-4 py-1"></p>
</ng-template>
