<div class="container-fluid">
  <div class="row panel">
    <div class="col-1">
      <button class="justfy" (click)="open()" mat-raised-button color="primary">新增積木</button>
    </div>
    <div class="col d-flex align-items-center">
      <div class="container-fluid">
        <div class="row overflow">
          <button type="button"
                  *ngFor="let block of blocklys;let i = index"
                  class="btn btn-primary btn-sm d-flex justify-content-between align-items-center ml-3">
            <span>{{block.name}}</span>
            <button type="button" class="close text-white" (click)="deleteBlock(i)">
              <mat-icon>clear</mat-icon>
            </button>
          </button>
        </div>
      </div>
    </div>
    <div class="col-1">
        <button class="ml-auto justfy" routerLink="/authoring/edit/bind" mat-raised-button color="primary">完成</button>
      </div>
  </div>
</div>
<iframe id="iframe" [src]="'https://blockly-demo.appspot.com/static/demos/blockfactory/index.html' | safe"></iframe>

<ng-template #blocklyDialog>
  <h2 mat-dialog-title>創建Blockly積木</h2>
  <mat-dialog-content class="d-flex flex-column">
    <form [formGroup]="blocklyFormGroup">
      <mat-form-field class="w-100">
        <input matInput formControlName="name" placeholder="Blockly名稱">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="blockDef" class="w-100" placeholder="Block Definition" matTextareaAutosize matAutosizeMinRows="5"
          matAutosizeMaxRows="8"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="blockGen" class="w-100" placeholder="Generator stub" matTextareaAutosize matAutosizeMinRows="5"
          matAutosizeMaxRows="8"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="submitForm()">確認</button>
    <button mat-button mat-dialog-close color="warn">取消</button>
  </mat-dialog-actions>
</ng-template>
