#workspace {
  position:absolute;
  top: 64px;
  height: calc(100vh - 64px);
  width: 100%;
}

.overflow {
  overflow: auto;
}

.blockList-max-height {
  max-height: 200px;
}

.list-item {
  background-color: #ddd;
  border-radius: 2px;
}

.list-item:hover {
  background-color: #ccc;
}

.fix-height {
  height: calc(100vh - 64px - 4.25rem);
}

.alpha {
  opacity: .85;
}

.chipize {
  border-radius: 1000px;
}

.preview-item {
  height: 40px !important;
}

.btn-primary:focus {
  box-shadow: none !important;
}
