<mat-toolbar class="mat-elevation-z8 font-weight-bold fixed-top" color="primary">
  <mat-toolbar-row>
    <i class="material-icons mr-2">&#xE87C;</i>
    <span routerLink="/">遊程氏：YoSense</span>
    <div class="btn-group ml-auto mr-auto" role="group" aria-label="Basic example">
        <button type="button" routerLink="/authoring/edit/dive" routerLinkActive="active" class="btn btn-dark">互動內容</button>
        <button type="button" routerLink="/authoring/edit/blockly" routerLinkActive="active" class="btn btn-dark">Blockly積木</button>
        <button type="button" routerLink="/authoring/edit/bind" routerLinkActive="active" class="btn btn-dark">綁定功能</button>
        <button type="button" routerLink="/authoring/edit/diagnosis" routerLinkActive="active" class="btn btn-dark">學習診斷</button>
        <button type="button" routerLink="/authoring/edit/pass" routerLinkActive="active" class="btn btn-dark">過關條件</button>
      </div>
    <form *ngIf="false; else elseTmpl" class="d-flex w-40 justify-content-between">
      <input class="form-control w-40" type="text" placeholder="帳號">
      <input class="form-control w-40" type="password" placeholder="密碼">
      <button class="btn btn-success my-2 my-sm-0" type="submit">登入</button>
    </form>
    <ng-template #elseTmpl>
      <span>{{userName}}歡迎回來！</span>
    </ng-template>
  </mat-toolbar-row>
