.fix-height {
  height: calc(100vh - 64px - 4.25rem);
}

.close-button {
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  z-index: 12;
}

.iframe {
  width: 106.67vh;
  height: 80vh;
  max-width: 1024px !important;
  max-height: 768px !important;
  border-radius: .25rem;
}

.text-code {
  max-width: 1280px !important;
  max-height: 720px !important;
  width: 128vh !important;
  height: 72vh !important;
  overflow: hidden;
}

.copyMsg {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -130%);
  animation: copyAlertSlideInDown 0.3s cubic-bezier(.42,.24,.43,1.37);
  max-width: 13rem;
  width: 30%;
  min-width: 200px;
}

.saveMsg {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 10%);
  animation: saveAlertSlideInDown 0.3s cubic-bezier(.42,.24,.43,1.37);
  max-width: 20rem;
  width: 30%;
  min-width: 200px;
  z-index: 10;
}

.header {
  color: #fff;
  background-color: #373c42;
  width: 100%;
  border-bottom: solid 3px #fff;
  z-index: 10;
}

.opacity-0 {
  opacity: 0;
}

.col-num {
  width: 8%;
  max-width: 65px;
  padding-left: 15px;
  color: #fff;
  font-weight: 900;
  border-right: solid 3px aquamarine;
}

.col-text {
  overflow: auto;
}

.col-num > :first-child, .text-line:first-child {
  margin-top: 5px;
}

.text-board {
  overflow: auto;
  max-height: calc(720px - 2rem - 2rem - 3px);
  height: calc(72vh - 2rem - 2rem - 3px);
}

.font-size-slider {
  position: absolute;
  top: calc(25% + 45px + .25rem);
  right: 0%;
  transform: translateX(calc(100% - .25rem));
  z-index: -1;
}

.copy-button {
  color: #fff !important;
  width: 48px;
  height: 45px;
  position: absolute;
  top: 25%;
  right: 0%;
  transform: translateX(calc(100% - .25rem));
  z-index: -1;
}


.icon-header {
  border-bottom: solid 3px #fff;
}

.text-line {
  overflow: initial !important;
  white-space: pre-wrap !important;
}

.text-line:hover {
  background-color: rgb(253, 255, 147, 0.3);
}

.function-group {
  position: absolute;
  top: 5em;
  right: 0px;
  transform: translateX(95%);
  z-index: -1;
}

.mask {
  overflow: hidden;
  border-radius: .25rem;
}


.fix-dive-scale {
  height: 50vh !important;
}
#loading-background {
  position: fixed;
  top: 0px;
  background-color: #333;
  color: #fff;
  z-index: 11;
}
.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@keyframes lds-blocks {
  0% {
    background: #00d8ff;
  }
  12.5% {
    background: #00d8ff;
  }
  12.625% {
    background: #222222;
  }
  100% {
    background: #222222;
  }
}
@-webkit-keyframes lds-blocks {
  0% {
    background: #00d8ff;
  }
  12.5% {
    background: #00d8ff;
  }
  12.625% {
    background: #222222;
  }
  100% {
    background: #222222;
  }
}
.lds-blocks {
  position: relative;
}
.lds-blocks div {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #222222;
  -webkit-animation: lds-blocks 1s linear infinite;
  animation: lds-blocks 1s linear infinite;
}
.lds-blocks {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

@keyframes copyAlertSlideInDown {
  from {
    -webkit-transform: translate3d(-50%, -180%, 0);
    transform: translate3d(-50%, -180%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, -130%, 0);
    transform: translate3d(-50%, -130%, 0);
  }
}

@keyframes saveAlertSlideInDown {
  from {
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(-50%, 10%, 0);
    transform: translate3d(-50%, 10%, 0);
  }
}

