<mat-card-header class="d-flex justify-content-center ">
  <mat-card-title>
    <h2 class="font-weight-bold">專案管理</h2>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <div class="container">
    <div class="form-row">
      <div class="col-3 mb-3">
        <div class="card item">
          <div class="card-body">
            <h5 class="card-text text-center font-weight-bold">加入專案</h5>
          </div>
          <div class="mask" (click)="onAddProjectDialogOpen()">
            <i class="fas fa-plus add_align_center"></i>
          </div>
        </div>
      </div>
      <div *ngFor="let project of projectData;let i = index;" class="col-3 mb-3">
        <div class="card item">
          <div class="card-header">
            <h5 class="card-text text-center font-weight-bold position-absolute">{{project.name}}</h5>
            <button (click)="onCheckDelete(i)" type="button" class="close ml-auto fix-close-position">
              <span aria-hidden="true ">&times;</span>
            </button>
          </div>
          <div class="card-body p-0">
            <div class="cover" (click)="onShowSideInfo(i)">
              <div class="alt-text">暫無圖片</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card-content>
<ng-template #projectDialog>
  <h2 mat-dialog-title>專案代碼</h2>
  <mat-dialog-content>
    <mat-form-field class="w-100 mb-2">
      <input [(ngModel)]="projectCode" matInput maxlength="8" placeholder="請輸入專案代碼" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="onJoinProject()">新增</button>
    <button mat-button mat-dialog-close color="warn">取消</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #deleteProjectDialog>
  <h2 mat-dialog-title>
    <i class="mr-1 fas fa-exclamation-triangle"></i>注意</h2>
  <mat-dialog-content>
    確定刪除本專案?
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="onDeleteProject()">確定</button>
    <button mat-button mat-dialog-close color="warn">取消</button>
  </mat-dialog-actions>
</ng-template>
