.justfy-position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.blockType-frame {
  position: relative;
  height: 80px;
  background-color: #eee;
  border-radius: 5px;
  overflow: auto;
}

.fix-height {
  height: calc(100vh - 64px - 4.25rem);
  overflow: auto;
}
