<div class="container-fluid position-absolute">
  <div class="row mt-3 justify-content-center">
    <div class="col-6">
      <mat-card class="mat-elevation-z8">
        <mat-card-header class="d-flex justify-content-center ">
          <mat-card-title>
            <h2 class="font-weight-bold">積木功能綁定</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container">
            <form [formGroup]="bindingForm">
              <div class="form-row">
                <div class="col-5">Blockly積木</div>
                <div class="col-2"></div>
                <div class="col-5">Dive屬性代碼</div>
                <!-- <div class="col-1"></div> -->
              </div>
              <div formArrayName="bindingArray">
                <div class="form-row mt-2" [formGroupName]="i" *ngFor="let blockly of bindingArray; let i = index">
                  <div class="col-5">
                      <input type="text" [value]="transformIndex(blockly.value.blocklyIndex)" class="form-control" disabled>
                      <input type="hidden" [ngModel]="i" class="form-control" formControlName="blocklyIndex">
                  </div>
                  <div class="col-2 d-flex justify-content-center">
                    <button *ngIf="true" class="fix-position" (click)="toggleBindingRow(i)" mat-icon-button>
                      <mat-icon class="fix-position">link</mat-icon>
                    </button>
                    <!-- <button *ngIf="!blockly.isDisabled" class="fix-position" (click)="toggleBindingRow(i)" mat-icon-button>
                      <i class="fix-position fas fa-unlink"></i>
                    </button> -->
                  </div>
                  <div class="col-5">
                    <select formControlName="diveIndex" class="form-control">
                      <option *ngFor="let item of diveItems;let i_item = index;" [value]="i_item">
                        {{item.viewValue}}
                      </option>
                    </select>
                  </div>
                  <!-- <div class="col-1">
                    <mat-icon *ngIf="false" class="fix-position check-color">check_box</mat-icon>
                  </div> -->
                </div>
              </div>
              <div class="form-row  justify-content-center mt-3">
                  <button class="btn btn-primary" (click)="onSubmit()" routerLink="/authoring/edit/diagnosis">完成</button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #alt>
  <div class="container">
    <div class="row justify-content-center">
      <h4 class="text-danger">請先完成Dive與Blockly的必要設定</h4>
    </div>
  </div>
</ng-template>
