<div class="container-fluid position-absolute">
  <div class="row mt-3 justify-content-center">
    <div class="col-6">
      <mat-card class="mat-elevation-z8">
        <mat-card-header class="d-flex justify-content-center ">
          <mat-card-title>
            <h2 class="font-weight-bold">積木功能綁定</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container">
            <div class="form-row">
              <div class="col-5">Dive屬性代碼</div>
              <div class="col-1"></div>
              <div class="col-5">Blockly積木</div>
              <div class="col-1"></div>
            </div>
            <div class="form-row mt-2"
                *ngFor="let blockly of blocklyItems; let i = index">
              <div class="col-5">
                <select class="form-control" placeholder="請選擇Dive屬性" [disabled]="blockly.isDisabled">
                  <option *ngFor="let item of  diveItems" [value]="item.value">
                    {{ item.viewValue }}
                  </option>
                </select>
              </div>
              <div class="col-1">
                <button *ngIf="blockly.isDisabled" class="fix-position" (click)="toggleBindingRow(i)" mat-icon-button>
                  <mat-icon class="fix-position">link</mat-icon>
                </button>
                <button *ngIf="!blockly.isDisabled" class="fix-position" (click)="toggleBindingRow(i)" mat-icon-button>
                    <i  class="fix-position fas fa-unlink"></i>
                  </button>
              </div>
              <div class="col-5">
                <select class="form-control" placeholder="請選擇Blockly積木" [disabled]="blockly.isDisabled">
                  <option *ngFor="let blockly of blocklyItems" [value]="blockly.name">
                    {{ blockly.name }}
                  </option>
                </select>
              </div>
              <div class="col-1">
                  <mat-icon *ngIf="blockly.isDisabled" class="fix-position check-color">check_box</mat-icon>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
