<button mat-fab color="primary" class="stick mr-5 mb-5" (click)="open()">
  <mat-icon>eject</mat-icon>
</button>
<iframe id="iframe" [src]="url | safe" name="mainExperiment"></iframe>

<!-- http://bootstrap.hexschool.com/docs/4.0/components/progress/ -->
<!-- http://dive.nutn.edu.tw:8080/Experiment/ -->

<ng-template #diveDialog>
  <h2 mat-dialog-title>專案資訊表單</h2>
  <mat-dialog-content class="post-form">
    <mat-form-field>
      <input matInput maxlength="4" placeholder="專案代碼" #code/>
      <mat-hint>請輸入四碼數字</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="confirm()">確認</button>
    <button mat-button mat-dialog-close color="warn">取消</button>
  </mat-dialog-actions>
</ng-template>
