<mat-card-header class="d-flex justify-content-center ">
  <mat-card-title>
    <h2 class="font-weight-bold">{{(editMode$ | async) === 'PROJECT_MODE'? '專案' : '關卡'}}資訊</h2>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <div class="row justify-content-center">
    <button type="button" routerLink="/manipulation/choose/select-stage" class="btn btn-primary btn-sm"
      *ngIf="(editMode$ | async) === 'PROJECT_MODE';else elseBtn">開啟專案</button>
    <ng-template #elseBtn>
      <button type="button" routerLink="/manipulation/game" class="btn btn-primary btn-sm">開啟關卡</button>
    </ng-template>
  </div>
  <div class="row">
    <div class="col p-0">
      <div [ngStyle]="{'background-image': 'url(\'' + ((editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).coverImg : (stageInfo$ | async).coverImg) + '\')'}" class="cover my-3">
      </div>
    </div>
  </div>
  <div class="item d-flex align-items-center">
    <div class="font-weight-bold">{{(editMode$ | async) === 'PROJECT_MODE' ? '專案' : '關卡'}}名稱：</div>
    <div>{{(editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).name : (stageInfo$ | async).name}}</div>
  </div>
  <div class="item d-flex align-items-center">
    <div class="font-weight-bold">{{(editMode$ | async) === 'PROJECT_MODE' ? '專案' : '關卡'}}描述：</div>
    <div>
      {{(editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).description : (stageInfo$ | async).description}}
    </div>
  </div>
  <div *ngIf="(editMode$ | async) === 'PROJECT_MODE'" class="item d-flex align-items-center">
    <div class="font-weight-bold">專案代碼：</div>
    <div>{{(projectInfo$ | async).uid}}</div>
  </div>
  <div *ngIf="(editMode$ | async) === 'PROJECT_MODE'" class="item d-flex align-items-center">
    <div class="font-weight-bold">專案作者：</div>
    <div>{{(projectInfo$ | async).author}}</div>
  </div>
  <div class="item d-flex align-items-center">
    <div class="font-weight-bold">最後修改：</div>
    <div
      *ngIf="(editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).lastModify.getFullYear() !== 1970 : (stageInfo$ | async).lastModify.getFullYear() !== 1970;else emptyDate">
      {{((editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).lastModify : (stageInfo$ | async).lastModify) | date:'y年M月d日 HH:mm:ss'}}
    </div>
  </div>
  <div class="item d-flex align-items-center">
    <div class="font-weight-bold">建立日期：</div>
    <div
      *ngIf="(editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).createDate.getFullYear() !== 1970 : (stageInfo$ | async).createDate.getFullYear() !== 1970;else emptyDate">
      {{((editMode$ | async) === 'PROJECT_MODE' ? (projectInfo$ | async).createDate : (stageInfo$ | async).createDate) | date:'y年M月d日 HH:mm:ss'}}
    </div>
  </div>
</mat-card-content>

<ng-template #emptyDate>
  <div></div>
</ng-template>
