.cover {
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(230px - 49px);
}

.item {
  font-size: 1.2rem;
  padding: 1.5rem 0px 1.5rem 1.5rem;
  border-bottom: dashed 0.5px #ccc;
}


