/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "themes/custom-theme.scss";

html, body {
  background-color:#eee !important;
  user-select: none;

}

* {
  font-family: "微軟正黑體";
  outline: none !important;
}



