/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "themes/custom-theme.scss";

html, body {
  background-color:#eee !important;
  user-select: none;

}

* {
  font-family: "微軟正黑體";
  outline: none !important;
}
.bar-position {
  position: absolute;
  z-index: 50;
  max-width: 25vw;
  width: 25vw;
  top: 64px;
  margin: 0px !important;
  left: 20vw !important;
}

.toolStyle {
  background-color: #333;
}

.blocklyMainBackground {
  stroke-width: 0px;
  stroke: #fff !important;
}

.mat-vertical-content {
  padding-bottom: 0px;
}

#blocklyPreviewer1 svg[class=blocklySvg] {
  background-color: #efefef !important;
  border-radius: 10px;
}
