<div class="container-fluid">
  <div class="row">
    <div id="blocklyDiv"></div>
    <button (click)="getCode()" mat-fab class="btn-position" color="primary">
      <i class="fas fa-play font"></i>
    </button>
  </div>
</div>

<ng-template #passDialog>
  <h2 mat-dialog-title>恭喜過關！</h2>
  <mat-dialog-content class="post-form">
    {{'過關文字'}}
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" (click)="nextStage()">下一關</button>
    <button mat-button mat-dialog-close color="warn" routerLink="/manipulation/choose/select-stage" (click)="backToMenu()">返回選單</button>
  </mat-dialog-actions>
</ng-template>
