<div class="container-fluid">
  <div class="row">
    <form class="center d-flex flex-column">
      <h1 class="display-4 text-center font-weight-bold">註冊</h1>
      <mat-form-field>
        <input matInput placeholder="帳號">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="密碼">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="電子郵件">
      </mat-form-field>
      <mat-radio-group class="d-flex justify-content-around align-items-start">
        <span>請選擇身份：</span>
        <mat-radio-button value="teacher">老師</mat-radio-button>
        <mat-radio-button value="student">學生</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button class="font-weight-bold mt-2" color="primary">送出</button>
    </form>

  </div>
</div>
