<div class="container-fluid">
  <div class="row">
      <mat-progress-bar *ngIf="(progressbarState$ | async) === 'OPEN'" class="position-absolute" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="row">
    <form [formGroup]="signUpForm" class="center d-flex flex-column">
      <h1 class="display-4 text-center font-weight-bold">註冊</h1>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="電子郵件">
      </mat-form-field>
      <mat-form-field>
        <input type="password" formControlName="password" matInput placeholder="密碼">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="displayName" matInput placeholder="暱稱" maxlength="10">
      </mat-form-field>
      <mat-radio-group formControlName="identification" class="d-flex justify-content-around align-items-start">
        <span>請選擇身份：</span>
        <mat-radio-button value="teacher">老師</mat-radio-button>
        <mat-radio-button value="student">學生</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button class="font-weight-bold mt-2" color="primary" (click)="onSignUp()">送出</button>
    </form>
  </div>
</div>

<ng-template #signUpDialog>
  <h2 mat-dialog-title class="text-weight-bold">
      <i *ngIf="((stateText$ | async) === '註冊成功！請由右上方登入');else signUpFail;" class="fas fa-check-circle text-success"></i>
      <ng-template #signUpFail>
          <i class="fas fa-exclamation-triangle text-danger"></i>
      </ng-template>
  註冊提示</h2>
  <mat-dialog-content>
    {{(stateText$ | async)}}
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-center">
      <button mat-button
              mat-dialog-close
              tabindex="-1"
              color="primary"
              *ngIf="((stateText$ | async) === '註冊成功！請由右上方登入');else signUpFailBtn;">確認</button>
<ng-template #signUpFailBtn>
<button tabindex="-1" mat-button mat-dialog-close color="primary">返回</button>
</ng-template>
  </mat-dialog-actions>
</ng-template>

<ng-template #signInDialog>
  <h2 mat-dialog-title class="font-weight-bold">
      <i *ngIf="((stateText$ | async) === '登入成功！');else signInFail;" class="fas fa-check-circle text-success"></i>
      <ng-template #signInFail>
          <i class="fas fa-exclamation-triangle text-danger"></i>
      </ng-template>
  登入提示</h2>
  <mat-dialog-content>
    {{(stateText$ | async)}}
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-center">
    <button mat-button
            mat-dialog-close
            tabindex="-1"
            color="primary"
            *ngIf="((stateText$ | async) !== '登入成功！');">返回</button>
  </mat-dialog-actions>
</ng-template>
